.card {
        width: 7em;
        background: #f7efef;
        height: 10em;
        text-align: center;
        border: 6px solid #ffaeae;
        margin-top: 2px;
        margin-left: 10px;
}

.card_suit {
        width: 60px;
        margin-top: 43px;
}

.card_rank {
        display: block;
        font-size: 25px;
        padding-top: 10px;
}